[data-dropdown] {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    background-color: brown;
    border: 2px solid black;
    font-family: 'IBM Plex mono', monospace;
    z-index: 10;
}

.dropdown-menu a:hover {
    color: #fff;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -10px;
    height: 0px;
    width: 0px;
    border-bottom: 10px solid brown;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

[data-dropdown] .dropdown-menu {
    display: none;
}

[data-dropdown].ativo .dropdown-menu {
    display: block;
}